.english{
	font-family:Cambria;
}
header{
	background:url("../../imgs/c5.jpg");
}
.bb{
	background-color:  gray;
}
.span{
	background:  linear-gradient(lightblue 20%,steelblue 80%);
}
.cc{
	background: linear-gradient(azure 10%,lightgray 90%);
}
span{
	color: red;
}